body{
    
}
.btn{
    padding: 8px 10px;
   
    font-size: 1rem;
}
.heading{
    font-family: var(--heading);
    font-size: 2.2rem;
    /* color: aliceblue; */  
}

/* navbar-section */
nav{
    height: 60px;
}
.icon{
    width: 60px;
    height: 55px;
}
.name{
    font-size: 32px;}



/* toggleicons in-navbar */

.mobile-icon{
    display: inline;
    border: 2px solid white;
    padding:0px;
    height: 32px;
    width: 32px;
    margin-right: 25px;

}
.mobile-icon1{
    height: 30px;
    width: 30px;
    margin: 0;
    color: aliceblue;
}
.close{
    display: none;
}
nav{
    position: relative;
}
.navbar_ul{
    width: 100%;
    height:100vh;
    background-color: rgb(180, 175, 175);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 60px;
    left: -1119px;
   

    
    transition: all 0.5s;
}
.page {
margin: 25px;
}
.page a{
    font-size: 25px;
    padding: 2px 10px;
}
.active .navbar_ul{
  top:70px;
  left: 0px;
}
.active .close{
  display: block;
}
.active .navopen{
  display: none;
}

/* home-section */
#home{
  height: 32rem;
  width: 21rem;
  padding: 0.8rem;
  margin: 1rem 2rem 2rem 2rem;
  justify-content: center;
  align-content: center;
  
}
#home::before{
    height: 38rem
}
#home h1{
font-size: 2.1rem;
margin: 0;
color: black;
text-shadow: 2px 2px white;
}

/* feature section */
#features{
    padding:2rem 3rem 1rem;
    
}
#features .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

/* partner-section */
#client-section{
    padding: 3rem;
    height: 350px;
}
#client-section h1{
    margin:1rem  0;

    }
    .client-item{
        margin: 1rem 1rem;
    }  
    .client-item img{
        width: 60px;
      
    }
    .client-item img:hover{
        width: 70px;
    }
    
/* contact-section */

/* footer-section */
